@import "~bootstrap/dist/css/bootstrap.min.css";

.wrapper {
  background-color: green;
  padding: 4rem;
  min-height: 100vh;
}
.card-background {
  height: 15em;
}

.spades {
  font-size: 35px;
  color: black;
}
.diamonds {
  font-size: 33px;
  padding-top: 0.6rem;
  color: red;
}
.hearts {
  font-size: 35px;
  padding-top: 0.7rem;
  color: red;
}
.clovers {
  font-size: 35px;
  color: black;
}

.value {
  font-size: 30px;
  font-weight: bold;
}

.inputStyle {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
